@font-face {
  font-family: "iconfont"; /* Project id 2766295 */
  src: url('iconfont.woff2?t=1630462189478') format('woff2'),
       url('iconfont.woff?t=1630462189478') format('woff'),
       url('iconfont.ttf?t=1630462189478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb:before {
  content: "\e61c";
}

.icon-top:before {
  content: "\e669";
}

.icon-comment:before {
  content: "\e603";
}

